StackLayout.content {
  horizontal-align: center;
}

StackLayout.top-panel {
  margin-top: 10;
  margin-right: 10;
  margin-left: 10;
  height: 50;
}

StackLayout.circle-score,
StackLayout.cross-score {
  horizontal-align: right;
}

label.circle-score,
label.cross-score {
  font-size: 17;
}

label.next-to-play {
  margin-right: 10;
  vertical-align: middle;
  font-size: 22;
}

image.cross-thumb,
image.circle-thumb {
  height: 17;
  margin-left: 10;
}

StackLayout.score-board {
  width: 100%;
}

StackLayout.game-panel {
  horizontal-align: center;
  vertical-align: middle;
  height: 25;
  margin-bottom: 10;
}

image.circle-thumb,
image.cross-thumb,
button.restart,
label.next-to-play,
label.circle-score,
label.cross-score {
  color: #d35400;
}

StackLayout.light-square,
StackLayout.dark-square {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

StackLayout.light-square {
  border-style: solid;
  border-width: 0.5em;
  border-color: #778899;
  background-color: rgb(235, 233, 235);
}

StackLayout.dark-square {
  border-style: solid;
  border-width: 0.5em;
  border-color: #778899;
  background-color: #bbbbbb;
}

image.circle-thumb,
image.cross-thumb,
image.next-to-play,
button.restart,
label.next-to-play,
label.circle-score,
label.cross-score {
  color: #d35400;
}

image.next-to-play {
  vertical-align: middle;
  height: 35;
}

image.container {
  position: relative;
}

label.revealed {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
}

image.state {
}

label.light-blue {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #add8e6;
}

label.green {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #008000;
}

label.red {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #ff0000;
}

label.dark-blue {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #00008b;
}

label.brown {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #a52a2a;
}

label.aqua {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #00ffff;
}

label.black {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

.light-grey {
  text-align: center;
  vertical-align: center;
  height: 17;
  margin-left: auto;
  margin-right: auto;
  color: #d3d3d3;
}
