<ActionBar title="My App" class="action-bar"></ActionBar>
<StackLayout class="content">
  <StackLayout class="top-panel" orientation="horizontal">
    <Button (tap)="startNewGame()" class="restart" text="Restart"></Button>
    <StackLayout class="score-board">
      <StackLayout class="circle-score" orientation="horizontal">
        <Label class="circle-score" text="{{board.uncovered}}"></Label>
        <Image class="circle-thumb" src="~/images/circle-thumb.png"></Image>
      </StackLayout>
      <StackLayout class="cross-score" orientation="horizontal">
        <Label class="cross-score" [text]="board.flagged"></Label>
        <Image class="cross-thumb" src="~/images/cross-thumb.png"></Image>
      </StackLayout>
    </StackLayout>
  </StackLayout>
  <StackLayout class="game-panel" orientation="horizontal">
    <Label class="next-to-play" text="Board Size:"></Label>
    <Label class="next-to-play" [text]="board.size"></Label>
  </StackLayout>
  <StackLayout class="game-panel" orientation="horizontal">
    <Label class="next-to-play" text="Score:"></Label>
    <Label class="next-to-play" text="{{board.score}}"></Label>
  </StackLayout>
  <GridLayout #boardGrid [columns]="boardSideSpecification" [rows]="boardSideSpecification">
    <ng-template ngFor let-item [ngForOf]="board.squares">
      <StackLayout (tap)="reveal(item)" (longPress)="mark(item)" [col]="item.yCoord" [row]="item.xCoord" [class]="classOf(item)">
        <Image visibility="{{item.state !== 2 ? 'visible' : 'collapse'}}" class="state" [src]="item.state | squareStateImage"></Image>
        <Label visibility="{{item.state === 2 ? 'visible' : 'collapse'}}" [class]="numberColor(item)" text="{{item.adjSquareCount === 0 ? '' : item.adjSquareCount}}"></Label>
      </StackLayout>
    </ng-template>
  </GridLayout>
</StackLayout>